{% extends "base.html" %}


{% block header %}
<div class='jumbotron'>
    <h1>Отслеживайте своё обучение.</h1> 
</div>
{% endblock header %}

{% block content %}
    <h2>
        <a href="{% url 'users:register' %}">Создайте аккаунт</a> чтобы создавать
        свои собственные заметки и список тем о том, чем вы обучаетесь.
    </h2>
    <h2>
        Когда вы изучаете что-то новое в пределах какой-либо темы, сделайте запись,
        чтобы суммировать весь ваш прогресс.
    </h2>
{% endblock content %}



